#id2{
    color: chartreuse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*this is comment*/
 
/*universal selector*/

*{
    text-align:center;
    background-color:dimgrey;
}
.class1{
    color:blueviolet;
    font-size:40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
/* group selector */
p,h1{
    color:coral;
    background-color:aliceblue;
}
#id1,.class1{
    color:blanchedalmond;
    background-color:darkgoldenrod;
}